{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/material",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/icons-material",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "icons"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/material/styles",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "tree-shaking-mui-styles"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/material/core/colors",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "tree-shaking-mui-colors"
    ]
  ]
}
